tweets-and-feeds-service/target/
tweets-and-feeds-service/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/
.DS_Store
tweets-and-feeds-service/.settings/*
tweets-and-feeds-service/.project
tweets-and-feeds-service/.classpath
