.twitter {
    margin: 5rem auto;
    width: 70%;
    max-width: 40rem;
  }
  .twitter__scroll {
    overflow: scroll;
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    max-width: 40rem;
  }

  .speech__bubble {
    position: relative;
    background: #1DA1F2;
    border-radius: .4em;
      
  }
  
  .speech__bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #1DA1F2;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
  }